<!DOCTYPE html>
<html lang="en">
  <%- include('shared/head') -%>

  <body>

    <div class="wrapper">
      <div class="main main-raised">
			  <div class="container">

          <div class="section landing-section">
            <div class="row">
              <div class="col-md-8 col-md-offset-2">
                <h2 class="text-center title">Postal Rate Calculator</h2>
                <h4 class="text-center description">
                  Determine the postage required for a single piece of retail
                  first-class mail.
                </h4>

                <form class="contact-form" method="get" action="/price">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group label-floating">
                        <label class="control-label">Weight of Item</label>
                        <input type="text" name="weight" class="form-control">
                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="radio">
	                        <label>
		                          <input type="radio" name="letterType" value="letters_stamped">
		                            Letters (Stamped)
	                        </label>
                      </div>
                      <div class="radio">
	                       <label>
		                         <input type="radio" name="letterType" checked="true" value="letters_metered">
		                           Letters (Metered)
	                       </label>
                      </div>
                      <div class="radio">
	                       <label>
		                         <input type="radio" name="letterType" value="large_envelopes">
		                           Large Envelopes (Flats)
	                       </label>
                      </div>
                      <div class="radio">
	                       <label>
		                         <input type="radio" name="letterType" value="parcels">
		                           Parcels
	                       </label>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-4 col-md-offset-4 text-center">
                      <button class="btn btn-primary btn-raised">
                        Calculate
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>

        </div>
      </div>

      <footer class="footer">
	      <div class="container">
          <div class="copyright pull-right">
            &copy; 2017 made by Suzanne Brenchley 💁
          </div>
	      </div>
	    </footer>
    </div>

  </body>
</html>
